<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>杂乱无章</title>
    <link href="../static/image/me.ico" th:href="@{/image/me.ico}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航-->
<nav id="nav" th:replace="_fragments :: menu(1)" class="gird-header" >
    <div class="ui.container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui orange header item">Blog</h2>
            <a href="#"  th:href="@{/}" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#"  th:href="@{/types/-1}" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="image icon"></i>相册</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>关于我</a>

            <div class="right item m-mobile-hide">
                <form name="search" action="#" th:action="@{/search}" target="_blank">
                    <div class="ui icon inverted transparent input">
                        <input type="text" name="query" placeholder="Search...." th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--顶部图片-->
<div class="m-bg-class_outer" style="width: 100%;height: 800px">
    <img src="../static/image/nv.jpg" th:src="@{/image/nv.jpg}" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
    <div class="m-bg-class_cover" align="center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="ui orange m-font-size-title-mediul" align="center" style="color: darkred !important;">杂乱无章</div>
        <div class="" align="center">
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="316392836" data-position="bottom center"><i class="qq icon"></i></a>
            <a href="https://github.com/leigang22909" target="_blank" class="ui github circular icon button" data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
        </div>
        <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/image/Wechat.jpg" th:src="@{/image/Wechat.jpg}" alt="" class="ui rounded image" style="width: 110px">
            <div align="center">微信</div>
        </div>
        <div class="ui qq-qr flowing popup transition hidden">
            <img src="../static/image/qq.jpg" th:src="@{/image/qq.jpg}" alt="" class="ui rounded image" style="width: 110px">
            <div align="center">QQ</div>
        </div>
        <div class="m-font-size-text" align="center" style="color: darkred !important;">欢迎来到我的客栈，我是一颗星，夜空中最亮的那颗</div>
    </div>
</div>


<!--中间部分-->

    <div class="m-container m-padded-tb-big">
        <div class="ui container">
            <div class="ui stackable grid">
                <!--                头部-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui orange header">文章</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h2 class="ui orange header m-inline-block m-text-thin"> 14 </h2> 篇
                        </div>
                    </div>
                </div>
                <!--               中间内容 -->
                <div class="ui attached segment">
                <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${pageInfo.list}">
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-title-font" th:text="${blog.title}">大圣，此去欲何?</a></h3>
                            <p class="m-text m-margin-top-max" th:text="|${blog.description}......|">戴上金箍，没法爱你；放下金箍，没法保护你。我知道上天不会给我第二次机会，曾经我们说好的永远，原来也仅仅只有，十二画，而已。“大圣，此去欲何?”“踏南天，碎凌霄。”“若一去不回……”“便一去不回” 其实很多时候，我们都是有机会的，最后真正放弃的，是我们自己。......</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="../static/image/me.jpg" th:src="@{${blog.avatar}}"  alt="" class="ui avatar image">
                                            <div class="content"><a href="#" th:href="@{/about}" target="_blank" class="header" th:text="${blog.nickname}" >L</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2021-01-01</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span th:text="${blog.views}">22</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" th:href="@{/types/-1}" target="_blank" class="ui orange basic label m-padded-tiny m-text-thin" th:text="${blog.typeName}">新的认知</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                <img src="https://picsum.photos/id/1077/800/450" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                </div>
                <!--                底部-->
                <div class="ui bottom attached segment m-opacity stackable grid">
                    <div class="three wide column" align="center">
                        <a class="item" th:href="@{/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" th:unless="${pageInfo.isFirstPage}">上一页</a>
                    </div>

                    <div class="ten wide column" align="center">
                        <p> <span th:text="${pageInfo.pageNum}"></span> / <span th:text="${pageInfo.pages}"></span> </p>
                    </div>

                    <div class="three wide column" align="center">
                        <a class="item" th:href="@{/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" th:unless="${pageInfo.isLastPage}">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--底部footer-->
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/image/chuan.jpg" th:src="@{/image/chuan.jpg}" class="ui rounded image" alt="" style="width: 120px">
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui orange inverted header m-text-thin m-text-space " >签名</h4>
                <p class="m-text-thin m-text-space m-opacity-mini">拒绝emo😈</p>
            </div>
            <div class="four wide column">
                <h4 class="ui orange inverted header m-text-thin m-text-space ">联系博主</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">QQ:2290970826</a>
                    <a href="#" class="item">Email:2290970826@qq.com</a>

                </div>
            </div>

        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-space m-opacity-tiny">Copyright © 2021-2022 Blog. All rights reserved.</p>
    </div>
</footer>

<!--/*<th:block th:replace="_fragments :: script">*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
<!--/*</th:block>*/-->


<!--移动端收缩响应-->
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        })

        // 显示微信
        $('.wechat').popup({
            popup : $('.wechat-qr'),
            position: 'top center'
        });

        // 显示QQ
        $('.qq').popup({
            popup : $('.qq-qr'),
            position: 'top center'
        });

        // 显示github
        $('.github').popup();

        // 导航栏显示
        var waypoint = new Waypoint({
            element: document.getElementById('waypoint'),
            handler: function(direction) {
                if (direction == 'down') {
                    $('#nav').show(100);
                } else {
                    $('#nav').hide(100);
                }
                console.log('Scrolled to waypoint!  ' + direction);
            }
        })

    </script>

</body>
</html>
